---
- name: Ensure unzip is installed.
  package: name=unzip state=present

- name: Download and unarchive Packer.
  unarchive:
    src: https://releases.hashicorp.com/packer/{{ packer_version }}/packer_{{ packer_version }}_linux_{{ packer_arch }}.zip
    dest: /usr/local/bin
    remote_src: true
